.carousel-inner{
  margin-bottom: 20px;
}
.carousel-inner>item{
  width:100%;
}
.panel{
  margin-top: 10px;
}
#descripcion > p{
  padding-top: 10px;
}
.deseos{
  padding-top: 10px;
}
@media (max-width:991px){
  #categorias{
    display: none;
  }
  form{
    margin-bottom: 20px;
  }
  .gallery h4{
    font-size: 14px;
  }
  .gallery p{
    font-size: 12px;
  }
}
